/* Basic Styles */

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 768px;
    margin: auto;
}

ul {
    list-style: none;
}

li {
    border: 1px solid black;
    padding: 0;
    cursor: pointer;
}

h3 {
    margin: 0;
    padding: 30px 30px;
}

section {
    padding: 30px 30px;
    background-color: #a1cfdd;
    border-top: 1px solid #82aab6;
}


/* Display Toggle Classes for Menus */
body > ul > li > section{
    display: none;
}

body > ul > li > section.open{
    display: block;
}

/* Expand Icon */
body > ul > li > h3::after {
    /* content: "<i class="fas fa-plus"></i>"; */
    content: "+";
    float: right;
}

/* Collapse Icon */
body > ul > li > h3.open::after {
    /* content: "<i class="fas fa-window-minimize"></i>"; */
    content: "-";
    float: right;
}